name: Matrix Demo
on: push
jobs:
  build:
    continue-on-error: true
    strategy:
      matrix: # Called a matrix because every possible combination of the values in the matrix will be run
        node-version: [12, 14, 16]
        operating-system: [ubuntu-latest, windows-latest] # Build runs once per value in the array, and they run on parallel
        include: # Use include when you want to add a specific combination of values that don't fit the pattern of the matrix
          - node-version: 18
            operating-system: ubuntu-latest
            # can also add extra options that aren't included above
        exclude: # Excludes specific operations from the matrix
          - node-version: 12
            operating-system: windows-latest
    runs-on: ${{ matrix.operating-system }}
    steps:
      - name: Get Code
        uses: actions/checkout@v3
      - name: Install NodeJS
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install Dependencies
        run: npm ci
      - name: Build Project
        run: npm run build